{% extends 'layout.njk' %}
{% block title %}
  <title>Blackwell Academy - Professores</title>
{% endblock title %}
{% block content %}
  <section id="cadastro">
    <div class="container">
      <div class="header">
        <a href="/teachers/create" class="create">Novo</a>

        <form method="get" action="/teachers">
            <input type="text" id="filter" name="filter" placeholder="Filtrar por nome" value = {{filter}}>
            <button type="submit">Filtrar</button>
        </form>
      </div>
      <div class="table-wrapper">
        <table class="fl-table">
          <thead>
            <tr>
              <th>Professor</th>
              <th>Acompanhamento</th>
              <th>Ação</th>
            </tr>
          </thead>
          <tbody>
            {% for teacher in teachers %}
              <tr>
                <td class="table-avatar" >
                  <img src="{{teacher.avatar_url}}" alt="">
                  <p>{{ teacher.name }}</p>
                  </td>
                <td>
                  {% for subject in teacher.subjects_taught.split(",") %}
                    <span>{{ subject }}</span>
                  {% endfor %}
                </td>
                <td>
                  <a href="/teachers/{{ teacher.id }}">Detalhes</a>
                </td>
              {% endfor %}
            </tr>
            <tbody></table>
          </div>
        </div>
      </section>

      <div class="pagination" data-total={{pagination.total()}} data-page={{ pagination.page}} data-filter={{ filter}}></div>
    {% endblock content %}