{% extends 'layout.njk' %}
{% block title %}
<title>Blackwell Academy - Sobre</title>
{% endblock title %}

{% block content %}
<section id="about">
      <div class="container">
        <div class="main-info">
          <img src="/assets/blackwell-front.png" alt="" />
          <h1>Blackwell Academy</h1>
        </div>

        <div class="other-info">
          <div class="description">
            <p>
              Blackwell Academy é uma escola secundária localizada em Arcadia
              Bay, Oregon. A escola é especializada em Ciências e Artes e
              atualmente é supervisionada pelo Diretor Raymond Wells.
            </p>
          </div>

          <div class="courses">
            <ul>
              <li>Os cursos oferecidos são:</li>
              <li>Ciências</li>
              <li>Arte/Fotografia</li>
              <li>Natação</li>
              <li>Futebol americano</li>
              <li>Inglês</li>
              <li>Literatura</li>
              <li>Teatro</li>
            </ul>
          </div>

          <div class="social">
            <h3>Participe dos clubes da blackwell academy:</h3>
            <div class="clubs">
              <div class="club">
                <img src="/assets/vortex-club.png" />
                <a href="https://life-is-strange.fandom.com/wiki/Vortex_Club"
                  >Vortex Club</a
                >
              </div>
              <div class="club">
                <img src="/assets/bigfoots.png" />
                <a href="https://life-is-strange.fandom.com/wiki/Bigfoots"
                  >Bigfoots</a
                >
              </div>
              <div class="club">
                <img src="/assets/the-otters.png" />
                <a href="https://life-is-strange.fandom.com/wiki/The_Otters"
                  >Lontras</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
{% endblock content %}
