<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    {% block title %}
      <title>Blackwell Academy</title>
    {% endblock title %}
    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet"/>
    <link rel="stylesheet" href="/styles/style.css"/>
  </head>
  <body>
    <header id="header">
      <nav class="container">
        <a href="/">
          <img src="/assets/logo.svg" alt="Blackwell academy logo"/>
        </a>
        <div class="links">
          <a href="/about">Sobre</a>
          <a href="/courses">Cursos</a>
          <a href="/teachers">Professores</a>
          <a href="/students">Estudantes</a>
        </div>
      </nav>
    </header>
    {% block content %}{% endblock content %}

    <script src="/scripts/script.js"></script>
  </body>
</html>